{{extend "layout.html"}}

<h2>Prosumer Camera: Pros and Cons  </h2>

<p class="ptext">  You do not need to be confused because you can choose a Prosumer camera. Prosumer camera is a bridge between compact cameras with Digital SLR cameras. About the term Prosumer cameras there are also those that define the Prosumer camera is a combination / cross between a DSLR cameras (often referred to as the camera "PRO / professional") with a pocket camera (the camera is often called "consumer").
</p>
<p class="ptext">
 The size and form of the Prosumer camera is smaller than a Digital SLR camera. Prosumer camera is light and equipped with a super zoom lens. You can buy Prosumer camera at affordable price. It’s cheaper than entry level Digital SLR camera. So, what are the advantages and disadvantages of this Prosumer camera?
</p>
<p class="ptext">
The technology is so advanced because Prosumer cameras producers have made a practical camera that can be relied upon for everyday photography such as landscape photo, portrait, and other daily life activities.  Even the ability to record video Prosumer cameras even more enhanced, with the ability to record High Definition and using MPEG-4 AVC compression efficiency. Many Prosumer cameras today that has been equipped with an external flash holder, so the limitations Prosumer in poorly lit areas can be overcome by installing a powerful external flash, and you can bouncing it up down or left and right.
</p>
<p class="ptext">
About the fact that fixed lens Prosumer / fix, if addressed wisely because we do not need to buy a lot of lenses, preventing mutually lenses impractical and risky entry of dust into the sensor. Problem constraints of noise can be pursued with a little extra work is photographed wearing a RAW file and then do if the digital computer with image processing software. The Price of Prosumer cameras is cheaper than Digital SLR camera. If the technology and features of this camera is developed, then the Prosumer cameras still have hope for a place in the photographers, both beginners to professionals though.

 What is the deficiency Prosumer camera?  </p>
